@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.login-container{
  display: flex;
  flex-direction: row;
  /*background-color: #ac7777;*/
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 14vh;
}

.form-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  /*background-color: rgb(92, 144, 144);*/
  height: 100vh;
  align-items: center;
  padding-top: 5vh;
  gap:3vh;
}

.img-login{
  width: 50%;
  height: 90%;
}

.login-ttl{
  width: 60%;
  height: 20%;
  /*background-color: #ffe4cc;*/
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 1vw;

}

.login-title{
  font-size: 2.5vw;
  font-weight: 700;
  color: #114050;
}

.logindesc{
  font-size: 1vw;
 color: #114050;
 text-align: justify;
 text-align: center;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 50%;
  /*background-color: #ffe4cc;*/
  align-items: center;
  gap:2vh;

}

.login-correo{
  font-size: 1.5vw;
  font-weight: 700;
  color: #114050;
  margin-top: 2vh;
  margin-left: 1vw;
}

.login-button{
  background-color: #ffffff;
  border: #ffffff;
  background-color: #ffe4cc;
  color: #fc560b;
  font-size: 1.5vw;
  font-weight: 600;
  border-radius: 2vw;
  width: 30%;
}




