@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


.servicios-container{
  display: flex;
  flex-direction: column;
  /*background-color: #c59797;*/
  min-height: 110vh;
  align-items: center;
}

.ttl{
  display: flex;
  flex-direction:column;
  height: 20vh;
 /* background-color: aquamarine;*/
  margin-top: 15vh;
  width: 100%;
} 

.servicios-ttl{
  font-size: 3vw;
  font-weight: 700;
  color: #114050;
}

.servicios-desc{
  font-size: 1.3vw;
 color: #114050;
}

.servicios-selec{
  display: flex;
  flex-direction:row;
  /*background-color: rgb(206, 196, 255);*/
  width: 100%;
  height: 90vh;
  padding-top: 5vh;
  justify-content: center;
  gap: 5vw;
}

.servicios-img-selec{
  display: flex;
  flex-direction: column;
  background-color: #ffe4cc;
  height: 60vh;
  width: 25%;
  gap:5vh;
  padding-top: 5vh;
  align-items: center;
  border-radius: 1vw;
}

.servicio-img{
  width: 60%;
}
.servicios-text{
  font-size: 1.5vw;
  font-weight: 700;
  color: #114050;
}

.servicios-descripcion {
  max-height: 0;    
  opacity: 0;       
  overflow: hidden;  
}

.servicios-img-selec:hover .servicios-descripcion {
  max-height: 300px;
  opacity: 1;       
  color: #114050; 
  font-weight: 500;
}

.servicios-img-selec:hover {
  height: 85vh;
}

.servicio-button{
  background-color: #ffffff;
  border: #ffffff;
  background-color: #ffffff;
  color: #114050;
  font-size: 2vw;
  font-weight: 600;
  border-radius: 1vw;
}
